<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LogReader.Properties.Settings>
            <setting name="ResetExpressions" serializeAs="Xml">
                <value>
                    <ArrayOfResetExpr xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <ResetExpr>
                            <Active>true</Active>
                            <Expression>shovel_blood &amp; familiar_shopkeeper</Expression>
                        </ResetExpr>
                    </ArrayOfResetExpr>
                </value>
            </setting>
            <setting name="Formats" serializeAs="Xml">
                <value>
                    <ArrayOfLogFormat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <LogFormat>
                            <Active>true</Active>
                            <Find>ITEM NEW: (-?\d+), (-?\d+) itemType: (\w+) entityNum: \d+</Find>
                            <Replace>$1 $2  $3</Replace>
                        </LogFormat>
                    </ArrayOfLogFormat>
                </value>
            </setting>
            <setting name="Alerts" serializeAs="Xml">
                <value>
                    <ArrayOfLogAlert xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <LogAlert>
                            <Trigger>shovel_blood</Trigger>
                            <AlertText>!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!BLOOD SHOVEL!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</AlertText>
                        </LogAlert>
                        <LogAlert>
                            <Trigger>familiar_shopkeeper</Trigger>
                            <AlertText>$$$$$$$$ BABYMONEY $$$$$$$$</AlertText>
                        </LogAlert>
                    </ArrayOfLogAlert>
                </value>
            </setting>
            <setting name="AutoScroll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoreGold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnlyItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearLevel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LevelCreateItemsOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTimestamp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NDDir" serializeAs="String">
                <value>C:\program files (x86)\steam\steamapps\common\Crypt of the Necrodancer</value>
            </setting>
            <setting name="ResetKey" serializeAs="String">
                <value>r</value>
            </setting>
            <setting name="PauseKey" serializeAs="String">
                <value>{ESC}</value>
            </setting>
            <setting name="WindowName" serializeAs="String">
                <value>Crypt of the Necrodancer</value>
            </setting>
            <setting name="SidePanelWidth" serializeAs="String">
                <value>332</value>
            </setting>
        </LogReader.Properties.Settings>
    </userSettings>
</configuration>